* {
    margin: 0px;
}


#container {
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 30%;
    margin-right: 30%;
    padding:10%;
    border-radius: 8%;
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.1);
    border:none;
    margin-bottom:40px;

}

#status {
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: rgb(87, 165, 255);
    color: white;
    border: none;
    padding: 20px;
    border-radius: 3%;
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.1);
    margin-left: 30%;
    margin-right: 30%;
}

#button {
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(78, 162, 165);
    border: none;
    padding:20px;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.25);
    margin-top: 0;
    margin-bottom:30px;
    background-color: transparent;
    padding: 50px;
}
section {
    display: flex;
    justify-content: space-around;
}